<div class="head-container">
  <h1>Causes</h1>
  <h4>A collection of causes to which you can donate</h4>
</div>

<div class="causes-container">

  <% @causes.each do |cause| %>
    <% if cause.name != '' && cause.name != nil %>
      <div class="card">
        <h5><%= link_to cause.name, cause.website %></h5>
      </div>
    <% end %>
  <% end %>
</div>

