<div class="navbar-items">

  <button class="nav-link" onclick="document.location = '/'">Home</button>

  <button class="nav-link" onclick="document.location = '/causes'">Causes</button>

  <button class="nav-link" onclick="document.location = '/readings'">Readings</button>

  <button class="nav-link" onclick="document.location = '/petitions'">Petitions</button>

  <button class="nav-link" onclick="document.location = '/resources'">Resources</button>

  <button class="nav-link" onclick="document.location = '/demonstrations'">Demonstrations</button>

  <span class="stretch"></span>

</div>

