<body>
  <div class="wrapper">
    <div class="head-container">
      <h1>Very much in progress</h1>
    </div>
    <div class="causes-container">

    </div>
    <div class="push"></div>
  </div>
  <footer class="footer"></footer>
</body>
